[user]
    name = Rijul Kapoor
    email = 115141708+rijulkap@users.noreply.github.com

[color]
    ui = true

[merge]
    conflictstyle = diff3

[diff]
    ; tool = nvim_difftool
    colorMoved = default

[difftool "nvim_difftool"]
    cmd = nvim -c \"DiffTool $LOCAL $REMOTE\"

[pull]
    rebase = true

[push]
    default = upstream

[init]
    defaultBranch = main

[rebase]
	autoStash = true

[include]
    path = ~/.gitconfig-work
