[user]
    name = Rijul Kapoor
    email = 115141708+rijulkap@users.noreply.github.com

[color]
    ui = true

[diff]
    ; tool = nvim_difftool
    colorMoved = default

[difftool "nvim_difftool"]
    cmd = nvim -c \"DiffTool $LOCAL $REMOTE\"

[pull]
    rebase = true

[push]
    default = upstream

	autoSetupRemote = true
[init]
    defaultBranch = main

[rebase]
	autoStash = true

[include]
    path = ~/.gitconfig-work

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictStyle = zdiff3
